<div class="side-menu">
	<ul>
		<li>All Notes</li>
		<li>Notebooks</li>
	</ul>
	<div class="foot">
		<ul>
			<li>Text</li>
			<li>Video</li>
		</ul>
	</div>
</div>

<div class="content-col">
	<div class="card">
		<h3>News & Tips</h3>
		<p>Lorem magni dicta qui ducimus aspernatur esse rerum, optio voluptates, rerum, ea. Consequuntur nobis repellat velit deleniti eum saepe. Accusamus alias esse modi neque laborum recusandae. Reiciendis reiciendis dolor amet. Amet doloremque error autem voluptatem dolorem cumque? Est iusto ex laboriosam qui laboriosam officiis quod distinctio. Earum reprehenderit placeat accusantium suscipit ullam. Eveniet atque deserunt officia dolores porro. Illum harum!</p>
	</div>

	<div class="card">
		<h3>Get out of your inbox	</h3>
		<p>Amet et enim officiis officiis accusamus nobis beatae. Nostrum perspiciatis ea explicabo autem ratione magni officia nisi asperiores culpa accusamus asperiores maiores! Vel sed velit voluptate iure libero obcaecati. Illum.<p>
	</div>
</div>

<div class="content-col">
	<div class="card">
		<h3>News & Tips</h3>
		<p>Check out the lastest news</p>
	</div>

	<div class="card">
		<h3>Get out of your inbox	</h3>
		<p>Amet et enim officiis officiis accusamus nobis beatae. Nostrum perspiciatis ea explicabo autem ratione magni officia nisi asperiores culpa accusamus asperiores maiores! Vel sed velit voluptate iure libero obcaecati. Illum.<p>
	</div>
</div>
